.tab-menu {
  border: 1px solid #d9d9d9;
  background-color: #f6f6f6;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;

  > .tab-item {  // '>'를 사용하여 .tab-menu의 직계 자식인 .tab-item만 선택
      &:not(.active) {
          background-color: white;
      }

      &.active {
          background-color: #e9e9e9;
      }

      > button {  // '>'를 사용하여 .tab-item의 직계 자식인 button만 선택
          display: block;
          width: 100%;
          padding: 15px 20px;
          border: none;
          background-color: transparent;
          text-align: left;
          cursor: pointer;
          font-size: 14px;
          border-bottom: 1px solid #d9d9d9;

          &:hover {
              background-color: #e0e0e0;
          }

          &::after {
              content: '\25BC';
              float: right;
              transform: scaleY(0.6);
          }
      }

      &.active > button {  // 활성화된 .tab-item의 직계 자식인 button만 선택
          &::after {
              transform: scaleY(-0.6);
          }
      }
  }
}
